button {
    cursor: pointer;
}

:root {
    padding: 0;
    font-family: "Raleway";
    color: aliceblue;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(https://www.datocms-assets.com/50154/1624886121-pattern.jpeg);
}

p {
    opacity: 0.7;
}

.head {
    padding: 0 10%;
    height: 100vh;
}

.head h1 {
    font-weight: bolder;
    text-align: center;
    padding-top: 60vh;
    margin: 0;
    font-size: 4em;
    text-shadow: 0 0 4px black;
}

.head p {
    text-align: center;
    font-size: larger;
    padding: 2em 10%
}

.head > div {
    text-align: center;
    margin: 4em auto;
    width: fit-content;
    border-radius: 1em;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.head > div:hover {
    color: aquamarine;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {

    .head h1 {
        font-size: 2.5em;
        padding: 30vh 1em 2em;
    }

    .head p {
        font-size: large;
        padding: 0;
    }

    .head {
        padding: 0 5%;
    }

    .head > div {
        margin: 8em auto;
    }

}