
.button-85 {
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 1s;
  font-size: larger;
  padding: 1em 0;
  width: 20em;
  margin: 5vh auto;
  display: block;
  text-align: center;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-85:hover:after {
  background: none;
}

@media only screen and (max-width: 600px) { 

  .b-header {
    width: 60%;
    margin: 0 20% 5vh;
  }
  
  .button-85 {
    padding: 0.6em 0;
    max-width: 80%;
    margin: 0 auto 5vh;
  }

  nav .button-85 {
    display: none;
  }

}

.dashing-button {
  position: relative;
  background-color: var(--glass);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid var(--glass-border);
  color: aliceblue;
  padding: 1em;
  border-radius: 1em;
  transition: .5s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.dashing-button > * {
  max-height: 1em;
}

.dashing-button:hover {
  background-color: rgb(63, 63, 70, .7);
}

.dashing-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    transparent 10%,
    var(--glass-border) 30%,
    transparent 50%
  );
  position: absolute;
  top: -1px;
  left: -1px; 
  background-size: 1000%;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: dash 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 1em;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes dash {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000% 0;
  }
}