
.coach {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 1em;
    width: 80%;
    margin: 0 auto 4em;
}

.coach > img {
    flex: 1 1 15%;
    max-width: 15%;
    border-radius: 100%;
    box-sizing: border-box;
}

.coach > div {
    flex: 4 4 85%;
}

@media only screen and (min-width: 1800px) {

    .coach {
        width: 60%;
    }

}