
.coach-card {
    box-sizing: border-box;
    height: fit-content;
}

.coach-card img {
    border-radius: 1em;
    width: 4em;
    height: 4em;
}

.coach-card > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    justify-content: center;
    margin: 3em 0;
}

.coach-card > p {
    word-wrap: break-word;
    line-height: 1.4;
}

.coach-card h3 {
    margin-top: 0;
}

.coach-card h2 {
    margin: 0 0 .4em 0;
}

@media only screen and (max-width: 1200px) {

    .coach-card img {
        height: 4em;
        width: 4em;
    }

}

@media only screen and (max-width: 600px) {

    .coach-card img {
        width: 20%;
        height: 20%;
    }

    .coach-card h2 {
        margin-bottom: .2em;
    }

    .coach-card span {
        font-size: small;
    }

}