
.course-header {
    display: flex;
    flex-direction: row;
    padding: 12em 6em 2em;
}

.course-header > div {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.img-background {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 15vw;
    height: 15vw;
    border-radius: 3em;
    border: none !important;
    z-index: 0;
}

.course-img {
    height: 25vw;
    margin: 0 auto;
    display: block;
    position: relative;
    filter: drop-shadow(5px 5px 5px #222);
}

.course-description {
    font-size: large;
    line-height: 1.4;
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 1200px) {

    .course-header {
        flex-direction: column;
        padding: 6em 2em 2em;
    }

    .course-header > div {
        width: 100%;
    }

    .course-img,
    .img-background {
        display: none;
    }
}

@media only screen and (min-width: 1800px) {

    .course-description {
        width: 80%;
    }

}