nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background-color:#121212a1;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    backdrop-filter: blur(32px);
    z-index: 2;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo > img {
    height: 2em;
    padding: 8px;
}

.nav-title {
    font-weight: bolder;
    color: aliceblue;
    font-size: x-large;
}

@media only screen and (max-width: 600px) { 

    nav {
        padding: 0.5em;
        justify-content: center;
    }
    
    nav > button {
        display: none;
    }
}